* {
  margin: 0;
  padding: 0;
}
.navbar {
  font-size: 25px;
  padding: 10px 15px;
  /* padding-bottom: 15px; */
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  border-bottom: 1px solid black;
}
.navbar-button {
  text-decoration: none;
  color: black;
}
.title {
  text-align: center;
  color: #007aff;
}
.navbar-buttons .navbar-button {
  margin-right: 10px;
}
