.wishlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wishlist h2 {
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}
